@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

body {
    font-family: 'Baloo 2', sans-serif;
    text-align: center;
    background-color: #e9fbe9;
}
h1 {
    font-size: 55px;
            font-weight: bold;
            color: #4CAF50;
}
p {
    font-size: 40px;
}
.container {
    margin: 50px auto;
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.start-buttons {
    display: flex;
    border: none;
    gap: 10px;  
}
.control-buttons {
    display: flex;
    gap: 10px;  /* Space between Pause & Reset */
    margin-top: 15px;  /* Space below Start buttons */
}

canvas {
    width: 100px;
    height: 150px;
    background: transparent;
}
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.start { background: #c0f1ae; color: #31402b; }
.pause { background: #fffdad; color: #404132; }
.reset { background: #ffadad; color: #391e1e; }